.principal { 
    width: 600px; 
    height: 100px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
   
}
.uno { 
    width: 100px; 
    height: 100px; 
    background-color: red;
    text-align:center;
    color: white;
 }
.dos { 
    width: 100px; 
    height: 100px; 
    background-color: blue;
    text-align: center;
    color: white;
 }

.tres { 
    width: 100px; 
    height: 100px; 
    background-color: green;
    text-align: center;
    color: white;
 }
 p{
     margin: 50%;
 }


 